{{#if logged_in}}
<div>
    <h2>{{strain.strain_name}}</h2>
    <p>{{strain.description}}</p>
    <p>{{strain.usage.usage_name}}</p>
    <p>{{strain.effect.effect_name}}</p>

    {{#each strain.user_strains}}
    <p>{{review.comment}}</p>
    <p>{{review.rating}}</p>
    {{/each}}
</div>

<a class="reviews" href="/api/reviews/create">Leave a Review</a>
{{/if}}
